<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel= "stylesheet" href= "/css/style.css"> </link>
    <title> MercadoLiebre </title>
</head>
<body>
    <footer>
        <section class="pageData">
        <br>
        <div class= "descripciones" > 
            <i class="fas fa-credit-card"></i>
            <p><b> Pagá con tarjeta o efectivo </b></p>
        <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    
        </div>
        <div class= "descripciones">
            <i class="fas fa-gift"></i>
            <p><b> Envío gratis desde $ 2.500 </b></p>
            <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class= "descripciones">
            <i class="fas fa-user-shield"></i>
            <p><b> Seguridad, de principio a fin </b></p>
            <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>
    </section>
        <div>
            <p><b> Copyright © 1999-2020 MercadoLiebre S.R.L. </b></p>
        </div>
    
    </footer>
    
</body>
</html>