<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel= "stylesheet" href= "/css/style.css"> </link>
    <title> MercadoLiebre </title>
</head>
<body>
    <%- include('partials/header')%> 
    <main class="main-content">
        <img id= "homebanner" src = "Imagenes\img-home-banner.jpg" alt= "Home Banner">
    
        <p class= "Titulares"><b> Basado en tu última visita</b> </p>
        <section class="ultimaVisita">
        <div class="producto">
        <img class="fotoproducto" src = "Imagenes/img-cafetera-moulinex.jpg" alt= "Cafetera Moulinex">
        <div class="infoProducto">  
        <i class="fas fa-shipping-fast"></i>
            <p id = "precios"> $6.770 </p>
            <p id= "descuentos"> 40% OFF </p>
            <br>
            <p id="nombreProducto"><b> Cafetera Moulinex </b></p>
    </div>
        </div>
    
        <div class="producto">
    <img class="fotoproducto" src = "Imagenes\img-macbook-pro-2019.jpg" alt= "Macbook pro">
    <div class="infoProducto">
    <i class="fas fa-shipping-fast"></i>
        <p id= "precios"> $230.000 </p>
        <p id= "descuentos"> 20% off </p>
        <br>
        <p id="nombreProducto"><b> MacBook Pro 2019</b></p>
    </div></div>    

    <div class="producto">
    <img class="fotoproducto" src = "Imagenes\img-samsung-galaxy-s10.jpg" alt= "Samsung Galaxy">
    <div class="infoProducto">
        <i class="fas fa-shipping-fast"></i>
        <p id= "precios"> $70.500 </p>
        <p id= "descuentos"> 10% off </p>
        <br>
        <p id="nombreProducto"><b> Samsung Galaxy S10</b></p>
    </div></div>

    <div class="producto">
    <img class="fotoproducto" src = "Imagenes\img-tv-samsung-smart.jpg" alt= "Tv samsung smart">
    <div class="infoProducto">
        <i class="fas fa-shipping-fast"></i>
        <p id= "precios"> $23.200 </p>
        <p id= "descuentos"> 5% off </p>
        <br>
        <p id="nombreProducto"><b> SmartTv Samsung 43" </b></p>

    </div></div>
    </section>

      
        <p class= "Titulares"> <b> Sección de Ofertas </b></p>
        <section class="ofertas">
        <div class="producto">
        <img class="fotoproducto" src = "Imagenes/img-cafetera-moulinex.jpg" alt= "Cafetera Moulinex">
        <div class="infoProducto">
        <i class="fas fa-shipping-fast"></i>
        <p id= "precios"> $6.770 </p>
        <p id= "descuentos"> 40% OFF </p>
        <br>
        <p id="nombreProducto"><b>Cafetera Moulinex </b></p>
    </div></div>

    <div class="producto">
    <img class="fotoproducto" src = "Imagenes\img-macbook-pro-2019.jpg" alt= "Macbook pro">
    <div class="infoProducto">
        <i class="fas fa-shipping-fast"></i>
        <p id= "precios"> $230.000 </p>
        <p id= "descuentos"> 20% off </p>
        <br>
        <p id="nombreProducto"><b> MacBook Pro 2019 </b></p>
        </div></div>
       
        <div class="producto">
        <img class="fotoproducto" src = "Imagenes\img-samsung-galaxy-s10.jpg" alt= "Samsung Galaxy">
        <div class="infoProducto">
        <i class="fas fa-shipping-fast"></i>
        <p id= "precios"> $70.500 </p>
        <p id= "descuentos"> 10% off </p>
        <br>
        <p id="nombreProducto"><b> Samsung Galaxy S10 </b></p>
        </div></div>

        <div class="producto">
        <img class="fotoproducto" src = "Imagenes\img-tv-samsung-smart.jpg" alt= "Tv samsung smart">
        <div class="infoProducto">
        <i class="fas fa-shipping-fast"></i>
        <p id= "precios"> $23.200 </p>
        <p id= "descuentos"> 5% off </p>
        <br>
        <p id="nombreProducto"><b> SmartTv Samsung 43" </b></p>
        </div></div>
      </section>
    
</main>

<%- include('partials/footer') %> 
</body>
</html>