<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel= "stylesheet" href= "/css/style.css"> </link>
    <title>Login de usuario</title>
</head>
<body>
    <%- include('partials/header') %> 
    <main>
    <section>
        <form action="login" method="post" class="create-form">
            <div class="form-control">
            <input type="text" name="username" placeholder="Nombre de usuario" class="form-input">
        </div>
        <div class="form-control">
            <input type="password" name="password" placeholder="Contraseña" class="form-input">
        </div>
        <br>
            <button type="submit" class="formaction"><a href="./home.html">Ingresar</a></button>
        </form>
    </section>
</main>

<%- include('partials/footer') %> 
</body>
</html>