<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href= "/css/style.css"> </link>
    <title>Registrate</title>
</head>
<body>
    
<section>
<form action= "/registro" method="POST">
    <label for="nombre">Nombre: </label>
    <input type= "text" name="nombre">
    <label for="apellido">Apellido: </label>
    <input type= "text" name="apellido">
    <br>
    
    <label for="usuario">Usuario:</label>
    <input type= "text" name="usuario">
    <label for="contraseña">Contraseña</label>
    <input type= "password" name="contraseña">
    <br>
    <label for="email">Email:</label>
    <input type="email" name="email" placeholder="E-mail">
   <br>
   <label for="sexo">Sexo:</label> 
   <select name="sexo">
        <option value="femenino">Femenino</option>
        <option value="masculino">Masculino</option>
        <option value="N/B">N/B</option>
    </select>
    <br>
    <input type="submit">
</form>
</section>
</body>
</html>