* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    color: #666 ;
    background-color:#ebebeb
}
header{
    width: 100vw;
}
.main-header{
    padding: 10px;
    background-color: #EAC926
}
main{
    width: 90%;
    background-color:#ebebeb ;
    
    
}
.infoProducto{
    padding: 15px;
    background-color: white;
    max-height: 100vh;
    max-width: 22vw;
    border-top: solid 1px #ebebeb;
}
.infoProducto #descuentos {
width: 70%;
position: absolute;
right: 7px;
top: 342px;
}
.infoProducto #precios{
    width: 30%;
}
.producto{
    position: relative;
    margin: 10px;
    justify-content: center;
}
.producto .infoProducto i{
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        }

.main-navBar ul{
    font-size: 12px ;
    list-style: none ;
    margin: 0px;
    padding: 0px;
}
.main-navBar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0px;
    font-size: 17px;
}
.txt-header {
    text-align: center;
    margin: auto;
    font-weight: 400;
}
.Titulares {
    font-size: 24px;
}
.descripciones {
    font-size: 16px;
    text-align: center;
    margin: auto;
}
#precios {
    font-size: 18px;
}
#descuentos{
    font-size: 16px;
    color: #39b54a;
}

#logo{
   max-width: 200px;
}

.menuHamburg{
    text-align: center;
    margin: auto;
    color: white;
    background-color: #03264c;
    display: block;
    max-width: 50px;
    padding: 15px 0px;
    border-radius: 8px;
    font-size: 18px;
}
.producto{
    background-color: white;
    max-width: 18vw;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.fa-shipping-fast{
    color: #39b54a;
    
}
.fotoproducto{
    max-height: 30vh;
    width: 100%;
}
#homebanner{
    width: 100vw;
    max-height: 25%;
    margin: auto;
}
footer{
    background-color: white;
    width: 100vw;
}
.fa-credit-card{
    color: #0c63e7;
    font-size: 2em;
}
.fa-gift{
    color: #0c63e7;
    font-size: 2em;
}
.fa-user-shield{
    color:#0c63e7 ;
    font-size: 2em;
}
.ultimaVisita {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.ofertas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@media (min-width: 361px){
    .producto {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
    #nombreProducto{
        display: none;
    }
    .menuHamburg{
        display: none;
    }

.main-header-topbar{
    display: flex;
    justify-content: space-between;
}
.txt-header{
    max-width: 350px;
    font-size: 20px;
    text-align: right;
}
.main-navBar{
    display: flex;
    justify-content: space-between;
}
.main-navBar ul {
    display: flex;

}
.main-navBar li {
    margin: 0 5px;
    
}
}


/*En el caso de mobile la descripcion del producto no se visualizara\\
Los productos no tendran Box Shadow
*/

@media(max-width:360px){
    .main-navBar{
        display: none;
    }
    .infoProducto #nombreProducto{
        display: none ;
    }
    .producto{
        box-shadow: none;
    }
    .txt-header{
        font-size: 15px;
        margin-top: 10px;
        text-align: center;
    }
    #searchBar{
       margin-left: 150px;
       margin-top: 10px;
        width: 50vw;
        display: flex;
        position: absolute;
        left: 40px;
        
    }
    .buscador{
        width: 40vw;
        height: 4vh;
        
    }
    .fa-search{
        font-size: 10px;
    }
    .menuHamburg{
        margin-top: 20px;
        height: 7vh;
        width: 15vw;
        text-align: center;
    }
    .ubiclogo{
        width: 50vw;
    }
    #logo{
        width: 45vw;
        justify-content: flex-start;
        margin-top: 5px;
    }
    .main-header-topbar{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
@media(min-width: 769px){
#logo{
    width: 250px;
}
.main-header-topbar .main-navBar{
    max-width: 1200px;
    margin: auto;
}
.main-header-topbar{
    align-items: center;

}
.txt-header{
    max-width: none;
    font-weight: 400 ;
    margin: 0px;
    font-size: 23px;
}
.main-navBar li {
    margin: 0 10px;
}
.main-navBar a{
    font-size: 19px;
}
.main-navBar{
    margin-top: 40px;
}
.buscador{
    height: 40px;
    width: 25vw;
}
.fa-search{
    font-size: 25px;
    padding-top: 3px;
    padding-bottom: 4px;
    margin-bottom: 3px;
}
#nombreProducto{
    display: block;
}
}

